{% extends 'base.html.twig' %}

{% block body %}
    <div id="soundbox" data-component="soundbox">
        <div class="sounds" data-component="sound">
            {% for i in 0..100 %}
            <div class="sound">
                <div class="content-wrapper">
                    <div class="background"></div>
                    <div class="key"></div>
                    <div class="description-wrapper">
                        <div class="description"></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}